body, html {
  height: 100%;
  font-family:Gotu !important;
}

.bg-info
{background-color:mistyrose !important}

.bg-success
{background-color:#BA7F79 !important}

.text-success
{color:#BA7F79 !important}

.text-info
{color:mistyrose !important}

.lead{
  font-size:3em;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  right:10%;
  left:10%;
  bottom: initial;
}

a.anchor{display: block; position: relative; top: -20px; visibility: hidden;}

p {
    display: block;
    display: -webkit-box;
    max-width: 1200px;
    height: 180px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}