body, html {
  height: 100%;
  font-family:Gotu !important;
}

.bg-info
{background-color:mistyrose !important}

.bg-success
{background-color:#BA7F79 !important}

.text-success
{color:#BA7F79 !important}

.text-info
{color:mistyrose !important}

.lead{
  font-size:3em;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  right:10%;
  left:10%;
  bottom: initial;
}